.tank-card {
    margin: 10px;
}

.tank-image {
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}

.additional-details {
    display: none;
}

.tank-card:hover .additional-details {
    display: block;
}